/* BookList.css */

/* Add background gradient to the whole page */
body {
    background: linear-gradient(to right,
            #00b09b,
            #96c93d);
    /* Adjust bliisColor1 and bliisColor2 */
    margin: 0;
    padding: 20px;
}

.book-list-container {
    margin: 20px;
    background-color: #fff;
    /* Set background color for the book list container */
    border-radius: 8px;
    /* Add border radius to the book list container */
    padding: 20px;
    /* Add padding to the book list container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add box shadow to the book list container */
}

.book-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.book-list-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search-button,
.sort-button,
.add-button {
    padding: 10px 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 2px;
}

.search-button:hover,
.sort-button:hover,
.add-button:hover {
    background-color: #0056b3;
}

.book-table {
    width: 100%;
    border-collapse: collapse;
}

.book-table th,
.book-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.book-table th {
    text-align: left;
    background-color: #f2f2f2;
}

.book-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Pagination styles */
.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 5px;
    cursor: pointer;
}

.pagination button.active {
    background-color: #0056b3;
}
/* BookList.css */

.book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-table th,
.book-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.book-table th {
    background-color: #f2f2f2;
}

.book-table td:last-child {
    white-space: nowrap;
    padding-right: 0.1px;
}

.book-table td:last-child button {
    margin-left: 1px;
}